img {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.btn-outline-warning {
  color: var(--bs-orange);
  border-color: var(--bs-orange);
  outline-color: var(--bs-orange);
}

.btn-outline-warning:hover {
  color: var(--bs-dark);
  border-color: var(--bs-orange);
  background-color: var(--bs-orange);
}

@media (min-width: 0px) {
  :host h2 {
    margin: 0;
  }

  :host p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
  }

  .home-picture {
    animation-name: home-picture-mobile;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }

  .home-text > div > :nth-child(1) {
    animation-name: home-text-mobile;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .home-text > div > :nth-child(2) {
    animation-name: home-text-mobile;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  .home-text > div > :nth-child(3) {
    animation-name: home-text-mobile;
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }

  .home-text > div > :nth-child(4) {
    animation-name: home-text-mobile;
    animation-duration: 8s;
    animation-fill-mode: forwards;
  }

  .home-text > a {
    animation-name: home-text-mobile;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 576px) {
  .btn-sm-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
  }

  :host p {
    font-size: 16px;
    line-height: 24px;
  }
}
