@media (min-width: 0px) {
  :host h3 {
    margin: 0;
  }

  :host p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 576px) {
  :host p {
    font-size: 16px;
    line-height: 24px;
  }
}
