.carusel {
  scroll-behavior: smooth;
}

.btn-link:hover {
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (min-width: 0px) {
  .btn-left {
    top: 50%;
    left: -1rem;
    z-index: 10;
    transform: translateY(-50%);
  }

  .btn-right {
    top: 50%;
    right: -1rem;
    z-index: 10;
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .btn-left {
    left: -5rem;
  }

  .btn-right {
    right: -5rem;
  }
}

@keyframes arrow {
  0% {
    transform: translate(4px, -50%);
  }
  50% {
    transform: translate(-4px, -50%);
  }
  100% {
    transform: translate(4px, -50%);
  }
}
