:host {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 auto;
  padding: 0.5rem 1rem 0.25rem 1rem;
  background-color: var(--bs-dark);
  z-index: 10;
}

a > img {
  width: 24px;
  height: 24px;
}

@media (min-width: 0px) {
  :host {
    width: 100%;
    box-shadow: 0 -4px 10px 0 var(--bs-black);
  }

  :host > small {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 992px) {
  :host {
    gap: 0.5rem;
    width: fit-content;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 4px 4px 10px 0 var(--bs-black);
    padding: 1rem 1.5rem 0.5rem 1.5rem;
  }
}
